body{
    background-color: rgba(24, 21, 21, 0.918);
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    }
body{
    font-size: 20px; 
    color: white;
    text-decoration: none;
}        